<!DOCTYPE html>
<html>


<body>
<div class="col-sm-12"> 
   <div>

   </div>
    <div class="row">
        
            <div class="col-sm-4 text-center">
                <button type="button" class="btn" >{{vm.fir}}</button>


            </div>
            <div class="col-sm-4 text-center">
                <button type="button" class="btn">{{fun}}</button>

            </div>
            <div class="col-sm-4 text-center">
                <button type="button" class="btn" ng-click="getList()">מחלקת רבנים</button>

            </div>

        </div>
    {{res}}
    </div>
  </body>
</html>
