<!DOCTYPE html>
<html>
<script src="../../../Scripts/angular.min.js"></script>

<script src="../../../Scripts/bootstrap.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="dugmaCtrl" class="col-sm-12"> 
    <div class="row">
        <div class= "col-md-4"><span>ghghgh</span>{{fir}}</div>
        <div class="col-md-4">gtgttg</div>
        <div class="col-md-4">tttgtg</div>
    </div>
    <!--<div ng-class="row">
        <div ng-class="col-sm-4">
            <div ng-class="col-sm-6 text-center" ng-click="fun" >
                <strong>מועצות דתיות</strong>
            </div>
        </div>
        <div ng-class="col-sm-4"></div>
        <div ng-class="col-sm-4"></div>
    </div>-->

</div>

<p>The $http service requests a page on the server, and the response is set as the value of the "myWelcome" variable.</p>

    <script src="../Service/datotService.js"></script>

    <script src="../Controller/dugmaCtrl.js"></script>
    

</body>
</html>
